<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Atualizar Aluno</title>
  </head>
  <body>
    <h1>Atualizar Aluno</h1>

    <!-- Select para selecionar o aluno a ser atualizado -->
    <label for="aluno-select">Selecione o aluno:</label>
    <select id="aluno-select">
      <option value="">Selecione um aluno</option>
      {{#alunos}}
        <option value="{{ra}}" data-nome="{{nome}}" data-curso="{{curso}}" data-periodo="{{periodo}}" data-turno="{{turno}}">{{ra}} - {{nome}}</option>
      {{/alunos}}
    </select>

    <!-- Formulário para edição dos dados do aluno -->
    <form id="aluno-form" action="/api/alunos/update" method="POST">
      <label for="ra">RA:</label>
      <input type="text" name="ra" id="ra" readonly>
      <br>
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome">
      <br>
      <div>
        <label for="curso">Curso:</label>
        <select id="curso" name="curso">
          <option selected data-default disabled selected>Curso</option>
          {{#cursos}}
          <option value="{{nome}}">{{nome}}</option>
          {{/cursos}}
        </select>
      </div>
      <label for="periodo">Período:</label>
      <input type="number" name="periodo" id="periodo">
      <div class="form-group">
        <label for="turno">Turno:</label>
        <select id="turno" name="turno">
          <option selected data-default disabled selected>Turno</option>
          <option value="Manha">Manhã</option>
          <option value="Tarde">Tarde</option>
          <option value="Noite">Noite</option>
        </select>
      </div>
      <br>
      <input type="submit" value="Atualizar">
    </form>

    <br><a href="/">Página Inicial</a>

    <script>
      // Função para atualizar os campos de entrada (inputs) com os dados do aluno selecionado
      function atualizarDadosAluno() {
        const select = document.getElementById("aluno-select");
        const alunoSelecionado = select.options[select.selectedIndex];

        document.getElementById("ra").value = alunoSelecionado.value;
        document.getElementById("nome").value = alunoSelecionado.dataset.nome;
        document.getElementById("curso").value = alunoSelecionado.dataset.curso;
        document.getElementById("periodo").value = alunoSelecionado.dataset.periodo;
        document.getElementById("turno").value = alunoSelecionado.dataset.turno;
      }

      // Event listener para acionar a função de atualização dos campos quando o aluno selecionado mudar
      const select = document.getElementById("aluno-select");
      select.addEventListener("change", atualizarDadosAluno);
    </script>

  </body>
</html>
