<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formulário de Cadastro de Curso</title>
  <style>
    body{
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color: hsl(212, 25%, 89%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .main{
      background-color: hsl(0, 0%, 100%);
      display: flex;
      width: auto;
      height: auto;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      color: hsl(218, 44%, 22%);
    }

    input{
      width: 70%;
    }

    h1{
      display: flex;
      background: #120EAB;
      height: auto;
      width: 300px;
      align-items: center;
      justify-content: center;
      color: white;
    }

    img {
      width: 40%;
      margin-top: -50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  </style>
</head>
<body>
  <div class="main">
  <img src="/images/logo.png" alt="Minha Imagem">
  <h1>Formulário de Cadastro de Curso</h1>
  <form action="/api/cursos" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>
    <div>
      <label for="departamento">Departamento:</label>
      <select id="departamento" name="departamento">
        {{#departamentos}}
        <option value="{{nome}}">{{nome}}</option>
        {{/departamentos}}
      </select>
    </div><br>
    <input type="submit" value="Cadastrar Curso">
  </form>
  <br><a href="/">Página Inicial</a>
</div>
</body>
</html>
