<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formulário de Cadastro de Curso</title>
</head>
<body>
  <h1>Formulário de Cadastro de Curso</h1>
  <form action="/cursos" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>
    <input type="submit" value="Cadastrar Curso">
  </form>
  <br><a href="/">Página Inicial</a>
</body>
</html>
