<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Atualizar Curso</title>
    <style>
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 25%, 89%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      }

    .main{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        width: 300px;
        height: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: hsl(218, 44%, 22%);
      }

   
    
    h1{
        display: flex;
        background: #120EAB;
        height: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    button{
      height:20px;
      margin-top:20px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

/* Estilos para os inputs */
input, select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

 img {
    width: 40%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    </style>
  </head>
  <body>
  <div class="main">
  <img src="/images/logo.png" alt="Minha Imagem">
    <h1>Atualizar Curso</h1>

    <!-- Select para selecionar o curso a ser atualizado -->
    <label for="curso-select">Selecione o curso:</label>
    <select id="curso-select">
      <option value="">Selecione um curso</option>
      {{#cursos}}
        <option value="{{nome}}" data-nome="{{nome}}" data-departamento="{{departamento}}">{{nome}}</option>
      {{/cursos}}
    </select>

    <!-- Formulário para edição dos dados do aluno -->
    <form id="curso-form" action="/api/cursos/update" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" readonly>
      <div>
        <label for="departamento">Departamento:</label>
        <select id="departamento" name="departamento">
          <option selected data-default disabled selected>Departamento</option>
          {{#departamentos}}
            <option value="{{sigla}}">{{sigla}}</option>
          {{/departamentos}}
        </select>
      </div>
      <br>
      <input type="submit" value="Atualizar">
    </form>

    <br><a href="/">Página Inicial</a>

    <script>
      // Função para atualizar os campos de entrada (inputs) com os dados do curso selecionado
      function atualizarDadosCurso() {
        const select = document.getElementById("curso-select");
        const cursoSelecionado = select.options[select.selectedIndex];

        document.getElementById("nome").value = cursoSelecionado.dataset.nome;
        document.getElementById("departamento").value = cursoSelecionado.dataset.departamento;
      }

      // Event listener para acionar a função de atualização dos campos quando o curso selecionado mudar
      const select = document.getElementById("curso-select");
      select.addEventListener("change", atualizarDadosCurso);
    </script>

  </div>
  </body>
</html>
