<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Deletar Turma</title>
  <style>
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 25%, 89%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      }

    .main{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        width: 300px;
        height: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: hsl(218, 44%, 22%);
      }

   
    
    h1{
        display: flex;
        background: #120EAB;
        height: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    button{
      height:20px;
      margin-top:20px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

/* Estilos para os inputs */
input, select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

 img {
    width: 40%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
  <script>
    function confirmDelete() {
      var confirmed = window.confirm("Tem certeza que deseja deletar esta turma?");
      return confirmed;
    }
  </script>
</head>
<body>
<div class="main">
<img src="/images/logo.png" alt="Minha Imagem">
  <h1>Deletar Turma</h1>
  <form method="POST" action="/api/turmas/delete" onsubmit="return confirmDelete()">
    <label for="codigo">Selecione o turma a ser deletada:</label>
    <select name="codigo" id="codigo">
      {{#turmas}}
      <option value="{{codigo}}">{{codigo}} ({{materia_codigo}})</option>
      {{/turmas}}
    </select>
    <br>
    <button type="submit">Deletar</button>
  </form>
  <br><a href="/">Página Inicial</a>
  </div>
</body>
</html>
