<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formulário de Cadastro de Departamento</title>
</head>
<body>
  <h1>Formulário de Cadastro de Departamento</h1>
  <form action="/departamentos" method="POST">
    <label for="sigla">Sigla:</label>
    <input type="text" id="sigla" name="sigla" required><br><br>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>
    <input type="submit" value="Cadastrar Departamento">
  </form>
  <br><a href="/">Página Inicial</a>
</body>
</html>
