<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Atualizar Departamento</title>
        <style>
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 25%, 89%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      }

    .main{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        width: 300px;
        height: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: hsl(218, 44%, 22%);
      }

   
    
    h1{
        display: flex;
        background: #120EAB;
        height: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    button{
      height:20px;
      margin-top:20px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

/* Estilos para os inputs */
input, select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

 img {
    width: 40%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    </style>
  </head>
  <body>
  <div class="main">
  <img src="/images/logo.png" alt="Minha Imagem">
    <h1>Atualizar Departamento</h1>

    <!-- Select para selecionar o departamento a ser atualizado -->
    <label for="departamento-select">Selecione o departamento:</label>
    <select id="departamento-select">
      <option value="">Selecione um departamento</option>
      {{#departamentos}}
        <option value="{{sigla}}" data-sigla="{{sigla}}" data-nome="{{nome}}">{{sigla}}</option>
      {{/departamentos}}
    </select>

    <!-- Formulário para edição dos dados do departamento -->
    <form id="departamento-form" action="/api/departamentos/update" method="POST">
      <label for="sigla">Sigla:</label>
      <input type="text" name="sigla" id="sigla" readonly>
      <br>
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome">
      <br>
      <input type="submit" value="Atualizar">
    </form>

    <br><a href="/">Página Inicial</a>

    <script>
      // Função para atualizar os campos de entrada (inputs) com os dados do departamento selecionado
      function atualizarDadosDepartamento() {
        const select = document.getElementById("departamento-select");
        const departamentoSelecionado = select.options[select.selectedIndex];

        document.getElementById("sigla").value = departamentoSelecionado.value;
        document.getElementById("nome").value = departamentoSelecionado.dataset.nome;
      }

      // Event listener para acionar a função de atualização dos campos quando o departamento selecionado mudar
      const select = document.getElementById("departamento-select");
      select.addEventListener("change", atualizarDadosDepartamento);
    </script>
</div>
  </body>
</html>
