<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Visualizar Departamentos</title>
</head>
<body>
  <h1>Departamentos Cadastrados</h1>
  <table>
    <thead>
      <tr>
        <th>Sigla</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {{#departamentos}}
      <tr>
        <td>{{sigla}}</td>
        <td>{{nome}}</td>
      </tr>
      {{/departamentos}}
    </tbody>
  </table>
  <br><a href="/">Página Inicial</a>
</body>
</html>
