<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sistema UMCP</title>
</head>
  <body>
    <h1>Sistema UMCP</h1>
    <h3>Prototipo de Login</h3>
    <ul>
      <h2>Opções:</h2>
      <li><a href="/api/view">Acesso Professores</a></li>
      <li><a href="/">Acesso Administradores</a></li>
    </ul>
  </body>
</html>
