<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sistema UMCP</title>
  <style>
    body{
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color: hsl(212, 25%, 89%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Verdana, sans-serif;
    }

    .main{
      background-color: hsl(0, 0%, 100%);
      display: flex;
      width: 300px;
      height: 300px;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      color: hsl(218, 44%, 22%);
    }

    input{
      width: 70%;
    }

    #periodo{
      width: 15%;
    }

    h1{
      display: flex;
      background:  #F2CC04;
      height: auto;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: white;
    }
    a{
      text-decoration: none;
    }
    li{
      list-style-type: none;
    }

    ul{
      display: flex;
      margin-left: -40px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
    width: 40%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    </style>
</head>
  <body>
    <h1>Sistema UMCP</h1>
    <div class="main">
    <img src="/images/logo.png" alt="Minha Imagem"><br>
    <h3>Prototipo de Login<h3>
    <ul>
      <h2>Opções:</h2>
      <li><a href="/api/view">Acesso Professores</a></li>
      <li><a href="/">Acesso Administradores</a></li>
    </ul>
  </div>
  </body>
</html>
