<!DOCTYPE html>
<html>
<head>
  <title>Formulário de Aluno</title>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>-->
</head>
  <body>
    <h1>Seja bem-vindo(a) ao Sistema UMCP</h1>
    <ul>
      <li><a href="/alunos/form">Inserir Aluno</a></li>
      <li><a href="/turmas/form">Inserir Turma</a></li>
      <li><a href="/materias/form">Inserir Matéria</a></li>
      <li><a href="/alunos">Visualizar Alunos</a></li>
      <li><a href="/turmas">Visualizar Turmas</a></li>
      <li><a href="/materias">Visualizar Matérias</a></li>
    </ul>
  </body>
</html>
