<!DOCTYPE html>
<html>
<head>
  <title>Formulário de Aluno</title>
</head>
  <body>
    <h1>Seja bem-vindo(a) ao Sistema UMCP</h1>
    <ul>
      <h2>Alunos:</h2>
      <li><a href="/api/alunos/form">Inserir</a></li>
      <li><a href="/api/alunos">Visualizar</a></li>
      <li><a href="/api/alunos/update">Atualizar</a></li>
      <li><a href="/api/alunos/delete">Deletar</a></li>
      <h2>Cursos:</h2>
      <li><a href="/api/cursos/form">Inserir</a></li>
      <li><a href="/api/cursos">Visualizar</a></li>
      <li><a href="/api/cursos/delete">Deletar</a></li>
      <h2>Departamento:</h2>
      <li><a href="/api/departamentos/form">Inserir</a></li>
      <li><a href="/api/departamentos">Visualizar</a></li>
      <li><a href="/api/departamentos/delete">Deletar</a></li>
      <h2>Matérias:</h2>
      <li><a href="/api/materias/form">Inserir</a></li>
      <li><a href="/api/materias">Visualizar</a></li>
      <li><a href="/api/materias/delete">Deletar</a></li>
      <h2>Turmas:</h2>
      <li><a href="/api/turmas/form">Inserir</a></li>
      <li><a href="/api/turmas">Visualizar</a></li>
      <li><a href="/api/turmas/delete">Deletar</a></li>
    </ul>
  </body>
</html>
