<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formulário de Cadastro de Matéria</title>
</head>
<body>
  <h1>Formulário de Cadastro de Matéria</h1>
  <form action="/materias" method="POST">
    <label for="codigo">Código:</label>
    <input type="text" id="codigo" name="codigo" required><br><br>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>
    <input type="submit" value="Cadastrar Matéria">
  </form>
  <br><a href="/">Página Inicial</a>
</body>
</html>
