<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Atualizar Matéria</title>
    <style>
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 25%, 89%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      }

    .main{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        width: 300px;
        height: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: hsl(218, 44%, 22%);
      }

   
    
    h1{
        display: flex;
        background: #120EAB;
        height: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    button{
      height:20px;
      margin-top:20px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

/* Estilos para os inputs */
input, select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

 img {
    width: 40%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
  </head>
  <body>
 
  <div class="main">
   <img src="/images/logo.png" alt="Minha Imagem">
    <h1>Atualizar Matéria</h1>

    <!-- Select para selecionar o materia a ser atualizado -->
    <label for="materia-select">Selecione o materia:</label>
    <select id="materia-select">
      <option value="">Selecione um materia</option>
      {{#materias}}
        <option value="{{codigo}}" data-codigo="{{codigo}}" data-nome="{{nome}}" data-professor="{{professor}}">{{codigo}}</option>
      {{/materias}}
    </select>

    <!-- Formulário para edição dos dados do materia -->
    <form id="materia-form" action="/api/materias/update" method="POST">
      <label for="codigo">Código:</label>
      <input type="text" name="codigo" id="codigo" readonly>
      <br>
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome">
      <br>
      <label for="professor">Professor:</label>
      <input type="text" name="professor" id="professor">
      <br>
      <input type="submit" value="Atualizar">
    </form>

    <br><a href="/">Página Inicial</a>

    <script>
      // Função para atualizar os campos de entrada (inputs) com os dados do materia selecionado
      function atualizarDadosMateria() {
        const select = document.getElementById("materia-select");
        const materiaSelecionado = select.options[select.selectedIndex];

        document.getElementById("codigo").value = materiaSelecionado.value;
        document.getElementById("nome").value = materiaSelecionado.dataset.nome;
        document.getElementById("professor").value = materiaSelecionado.dataset.professor;
      }

      // Event listener para acionar a função de atualização dos campos quando o materia selecionado mudar
      const select = document.getElementById("materia-select");
      select.addEventListener("change", atualizarDadosMateria);
    </script>
</div>
  </body>
</html>
