<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Atualizar Turma</title>
    <style>
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 25%, 89%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      }

    .main{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        width: 300px;
        height: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: hsl(218, 44%, 22%);
      }

   
    
    h1{
        display: flex;
        background: #120EAB;
        height: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    button{
      height:20px;
      margin-top:20px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

/* Estilos para os inputs */
input, select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

 img {
    width: 40%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
  </head>
  <body>
  <div class="main">
  <img src="/images/logo.png" alt="Minha Imagem">
    <h1>Atualizar Turma</h1>

    <!-- Select para selecionar a turma a ser atualizada -->
    <label for="turma-select">Selecione a turma:</label>
    <select id="turma-select">
      <option value="">Selecione uma turma</option>
      {{#turmas}}
        <option value="{{codigo}}" data-alunos_ra="{{alunos_RA}}" data-materia_codigo="{{materia_codigo}}">{{codigo}}</option>
      {{/turmas}}
    </select>

    <!-- Formulário para edição dos dados da turma -->
    <form id="turma-form" action="/api/turmas/update" method="POST">
      <label for="codigo">Código:</label>
      <input type="text" name="codigo" id="codigo" readonly>
      <br>
      <div>
        <label for="alunos_RA">Alunos RA:</label>
        <select id="alunos_RA" name="alunos_RA">
          <option selected data-default disabled selected>RA Alunos</option>
          {{#alunos}}
          <option value="{{ra}}">{{ra}}</option>
          {{/alunos}}
        </select>
      </div>
      <div>
        <label for="materia_codigo">Código da Matéria:</label>
        <select id="materia_codigo" name="materia_codigo">
          <option selected data-default disabled selected>Código da Matéria</option>
          {{#materias}}
          <option value="{{codigo}}">{{codigo}}</option>
          {{/materias}}
        </select>
      </div>
      <br>
      <input type="submit" value="Atualizar">
    </form>

    <br><a href="/">Página Inicial</a>

    <script>
      // Função para atualizar os campos de entrada (inputs) com os dados da turma selecionada
      function atualizarDadosTurma() {
        const select = document.getElementById("turma-select");
        const turmaSelecionada = select.options[select.selectedIndex];

        document.getElementById("codigo").value = turmaSelecionada.value;
        document.getElementById("alunos_RA").value = turmaSelecionada.dataset.alunos_ra;
        document.getElementById("materia_codigo").value = turmaSelecionada.dataset.materia_codigo;
      }

      // Event listener para acionar a função de atualização dos campos quando a turma selecionada mudar
      const select = document.getElementById("turma-select");
      select.addEventListener("change", atualizarDadosTurma);
    </script>
</div>
  </body>
</html>
