<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Inserir Turma</title>
  <style>
    body{
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color: hsl(212, 25%, 89%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .main{
      background-color: hsl(0, 0%, 100%);
      display: flex;
      width: auto;
      height: auto;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      color: hsl(218, 44%, 22%);
    }

    input{
      width: 70%;
    }

    #periodo{
      width: 15%;
    }

    h1{
      display: flex;
      background: #120EAB;
      height: auto;
      width: 300px;
      align-items: center;
      justify-content: center;
      color: white;
    }

    img {
    width: 100px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    table {
      width: 25%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 10px;
      border: 1px solid hsl(218, 44%, 22%);
    }

    thead {
      background-color: #120EAB;
      color: white;
    }

    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }

  </style>
</head>
<body>
  <h2>Turmas Cadastradas</h2>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>RA dos Alunos</th>
        <th>Código da Materia</th>
      </tr>
    </thead>
    <tbody>
      {{#turmas}}
      <tr>
        <td>{{codigo}}</td>
        <td>{{alunos_RA}}</td>
        <td>{{materia_codigo}}</td>
      </tr>
      {{/turmas}}
    </tbody>
  </table>
  <div class="main">
    <img src="/images/logo.png" alt="Minha Imagem">
    <h1>Inserir Turma</h1>
    <br>
    <form action="/api/turmas" method="post">
      <div>
        <label for="codigo">Código da Turma:</label>
        <input type="text" id="codigo" name="codigo" required>
      </div>
      <div>
        <label for="alunos_RA">Aluno (RA):</label>
        <select id="alunos_RA" name="alunos_RA">
          {{#alunos}}
          <option value="{{ra}}">{{ra}}</option>
          {{/alunos}}
        </select>
    </div>
    <div>
      <label for="materia_codigo">Matéria:</label>
      <select id="materia_codigo" name="materia_codigo" required>
        {{#materias}}
        <option value="{{codigo}}">{{nome}}</option>
        {{/materias}}
      </select>
    </div>
    <div>
      <input type="submit" value="Cadastrar Turma"></input>
    </div>
  </form>
  <br><a href="/">Página Inicial</a>
</div>
</body>
</html>
